{% extends 'base.html' %}



{% block title  %}
About us
{% endblock title %}



{% block body %}

<div class="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet libero inventore velit, tempore dolore enim qui sunt at nobis quas reprehenderit et quod, deserunt accusamus ut repellendus omnis. Earum, pariatur accusamus cumque repellendus laborum provident nam vitae, fuga adipisci magnam nihil aliquid aut. Earum accusantium magnam assumenda veritatis error quas suscipit odio id, repellendus dolorum ullam recusandae dignissimos debitis doloribus consequatur iusto? Voluptate ducimus asperiores odit blanditiis! Quas libero explicabo, neque tempore sed saepe tenetur minus quae optio dolores et iusto nobis qui, accusamus exercitationem ex non. Odit itaque optio cupiditate laudantium at nam placeat eius aperiam sequi praesentium. Tempore!</p>
</div>
{% endblock body %}

